<<<<<<< HEAD
.jumbotron{
	color: #b0e5e7;

}
=======
.title {
	text-align: center;
	padding-bottom: 50px;
}

.answers {
	text-align: center;
	display: inline-block;
}

.textbox {
	margin: 10px;
}

.button {
	margin: 10px;
}

.buttons {
	text-align: center;
}

.questions {
	margin-top: 10px;
}
>>>>>>> 944c52a05bb3d351d0a278bdaf849505ecee5f13
