.topPusher {
	height: 50px;
}


.title {
	text-align: center;
	padding-bottom: 50px;
	background-image: url("Logo.png");
	background-position: 50% 50%;
	background-size: contain;
	background-repeat: no-repeat;
	width: 75%;
	height: 350px;
	display: inline-block;
	
}

.answers {
	text-align: center;
	display: inline-block;
}

.textbox {
	margin: 10px;
}

.button {
	margin: 10px;
}

.buttons {
	text-align: center;
}

.questions {
	margin-top: 10px;
}

.container {
	background-color: white;
	border-radius: 50px;
}

html {
	background-color: #9DDDDF;
}

.errything {
	background-color: #9DDDDF;
}

.submit {
	text-align: center;
	padding-bottom: 30px;
}