.topPusher {
	height: 50px;
}


.title {
	text-align: center;
	padding-bottom: 50px;
	background-image: url("Logo.png");
	background-position: 50% 50%;
	background-size: contain;
	background-repeat: no-repeat;
	width: 75%;
	height: 350px;
	display: inline-block;
	
}

.answers {
	text-align: center;
	display: inline-block;
}

.textbox {
	margin: 17px;
}

.button {
	margin: 10px;
}

.buttons {
	text-align: center;
}

.questions {
	padding-top: 8px;
	padding-bottom: 8px;
}

.container {
	background-color: white;
	border-radius: 50px;
}

html {
	background-color: #9DDDDF;
}

.errything {
	background-color: #9DDDDF;
}

.submit {
	text-align: center;
	padding-bottom: 30px;
}


#submit {
	background-color: #F1CF51;
	width: 100%;
	margin-top: 50px;
}

#submit:hover {
	background-color: #EEBB1A;
}

.button {
	background-color: #F7F7F7;
	width: 60%;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 16px;
	margin-bottom: 16px;
	margin-top: 16px;
	cursor: pointer;
}

.button:hover {
	background-color: #B9B9B9;
		
}

#text {
	text-align: center;
}

#text h1 {
	font-family: 'Kanit', sans-serif;
	font-weight: 200;
	color: #F1CF51;
}

#text h2 {
	color: #BCBCBC;
}